
.foto {

    max-width: 2000px;
    padding: 15px 20%;
    border-radius:3px;
    margin-top: 20px;
    height: 200%;
}

.foto img {

    width: auto !important;
    position: relative !important;

}

.aws-sld__content {

    background-color: #fcf7e8 !important;

}

/* Landscape phones and down */
@media (max-width: 600px) {

    .foto {

        padding: 5px 5%;
        margin-top: 10px;
        height: 400%;
    }
}