
.image-gallery {

    max-width: 100%;
    padding: 10px 10%;
    border-radius:3px;
    margin-top: 20px;
}


.image-gallery-image {

    background-color: #FBF3DA !important;



}

/* Landscape phones and down */
@media (max-width: 600px) {

    .foto {

        padding: 5px 5%;
        margin-top: 10px;
        height: 400%;
    }
}