.intro{
    min-height: calc(100vh - 320px);
}
section {
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    padding: 20px 20%;
    max-width: 80%;
    margin: auto auto;
    text-align: center;

}

.basistext{
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    width:80%;
    text-align: center;
    margin: auto auto;
    margin-top: 50px;

}

.aws-sld__content{
    background-color: #FBF3DA !important;
    border: 5px;
    border-color: #aaaaaa !important;
}


section img{

    max-height: 800px;
    float:left;
}

.column {
    float: left;
    width: 45%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-left: 10%;
    margin-top: 2em;

}

.column img {

    width: auto !important;
    position: relative !important;
    border-radius: 3px;


}

.column2 {
    margin-top: 0;

    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    float: right;
    width: 35%;
}

h1{
    color: #FBF3DA;
    background-size: cover;
    font-size: 38px;
    font-family: 'Bitter', serif;
    font-weight: 400;
    margin: -5px;
    text-align: center;
}
h1 span{
    color: #01AFA3;
}
section hr {
    background-repeat: repeat-x;
    height: 3px;
    border: none;
}
section button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-right: 30px;
    margin-bottom:30px;
    color: white;
    border: none;
    border-radius: 4px;
    transition: all .3s ease;
}
section button span{
    color: #01AFA3;
}
section button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.bg-white{
    background: #FBF3DA;
}
.bg-white h1{
    background: none;
    color: #382515;
}

.call-to-action{
    padding: 40px 0;
    display: flex;
}


/*phones and down */
@media (max-width: 500px) {

    section {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        padding: 20px 10%;
        max-width: 1000px;
        margin: auto auto;
        text-align: center;

    }


    .column2 {
        margin-top: 0;
        font-family: 'Montserrat',sans-serif;
        font-size: 12px;
        width: 80%;
    }

    .basistext{
        font-family: 'Montserrat',sans-serif;
        font-size: 12px;
        width:80%;
        text-align: center;
        margin: auto auto;
        margin-top: 50px;

    }
}