body {
    background: #FBF3DA;
}

.aws-btn {
    --button-default-height: 15px !important;
    --button-default-placeholder-width: 22px !important;
    --button-default-font-size: 5px !important;
    --button-default-border-radius: 5px !important;
    --button-horizontal-padding: 2px !important;
    --button-raise-level: 0px !important;
    --button-primary-color:   #7b94bd

    !important;



}

.flags{

    margin:5px;
    display:flex;
    flex-direction: row;
}

.App {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

.App img {
    max-width: 100%;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    float: left;
}

.App-header {
    padding: 10px;
    color: white;
    top: 0;
    width: 100%;
    background-image: url("/img/backgroundheader.png");
    background-size: cover;
    background-position: center;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo {

    width: 500px;
    height: 200px;
    float: left;
    margin-top: 5px;
    margin-right: 30px;
    border-radius: 100%;
    border: solid;
    border-color: white;
}

.button{
    height: 10px;
    float: right;
    border: none;
    padding: 0px;
    margin: 4px;
    text-decoration: none;
    background: none;
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;


}

.but{
    font-family: 'Great Vibes', sans-serif;
}

nav {
    margin: 25px auto;
    justify-content: space-around;
    margin-bottom: 15px;
    float: right;
    text-align: right;

}



.App-header .container {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;




}

.App-header .container2 {
    margin: 0px;
    display: flex;
    justify-content: space-evenly;




}

.App-header .container img {
    max-height: 50%;
    width: auto;
}





h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    color:   #80b380;
    text-align: left;
    font-weight: lighter;

}

h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 28px;
    color:  #80b380;
    text-align: left;
    font-weight: lighter;

}

/* Landscape phones and down */
@media (max-width: 600px) {

    nav {
        margin: 5px auto;
        justify-content: space-around;
        margin-bottom: 15px;
        margin-right: 25px;

    }


    .App-header .container {
        margin: 0 auto;
        display: flex;
    }

    .App-header .container img {
        max-height: 40%;
        max-width: 40%;
    }

    h2 {
        font-family: 'Great Vibes', cursive;
        font-size:10vw;
        color:  darkseagreen;
        text-align: left;
        font-weight: lighter;

    }

    .logo {

        height: 50px;
        margin-top: 15px;
        margin-right: 20px;
        border-radius: 100%;
    }

    .button{

        text-decoration: none;
        text-align: center;

    }



    .but{

        display:flex;
        flex-direction: row;
        font-size: 3vw;
        height: 18%;
        width: 75%;
    }

    .flags{

        margin:1px;
        margin-right: 20px;
        display:flex;
        flex-direction: row;
        float: right;
    }

    .App-header .container {
        margin: 20px;
        display: inline-block;
        flex-direction: row;


    }

    .aws-btn {
        --button-default-height: 15px !important;
        --button-default-placeholder-width: 22px !important;
        --button-default-font-size: 5px !important;
        --button-default-border-radius: 5px !important;
        --button-horizontal-padding: 2px !important;
        --button-raise-level: 0px !important;
        --button-primary-color:  #222211 !important;



    }


    .App img {
        max-width: 180%;

    }


}


