
.credit{
    font-size: 7.5px;
    text-align: center;
    align-items: center;
    display: inline-block;
    justify-content: space-evenly;
    width: 100%;
}

.footer-logo{

    text-align: center;
    align-items: center;
    display: inline-block;
    justify-content: space-evenly;
    height: 180px;
    width: 180px;

}


/* Landscape phones and down */
@media (max-width: 900px) {
    .footer-logo{

        text-align: center;
        align-items: center;
        display: inline-block;
        justify-content: space-evenly;
        height: 90px;
        width: 90px;

    }




}
